body{
	background-color:#ddd;
	padding:0;
	margin:0;
	background-image: url('./pics/bg.png');
	font-family:arial;
}

h2{
	color:white;
	margin:25px 0 0 25px;
	padding:0;
}

#header{
	width:auto;
	height:125px;
	background-image: url(./pics/header_bg.png);
	background-size: cover;
	background-color:red;
	
}

#logo{
	position: relative;
	top:32px;
	margin:auto;
	width:900px;
	height:110px;
	background-image: url(./pics/logo.png);
	background-size: auto;
	background-repeat: no-repeat;
}

#Container{
	background-size: cover;
	background-color:#ccc;
	margin:0 auto;
	height:925px;
	width:90%;
	padding:0px 0 0 0px;
	border-right:5px solid #efb31d;
	border-left:5px solid #efb31d;
}

#submitContainer{
	width:50%;
	/*background-image: url('./pics/table.png');*/
	background-size:1200px 800px;
	background-color:#222222;
	float:left;
	height:800px;


}

#bountyInputContainer{
	width:87.5%;
	height:75%;
	padding:25px;
	position: relative;
	top:50px;
}

#bountyInput1{
	margin:10px auto 10px auto;
	padding:0 0 400px 0;
	width:100%;
	background-color: #333333;
	color:white;
	font-size:25px;
}

#bountySubmit2{
	margin:0 25px 25px 25px ;
}

#letterContainer{
	margin:auto;
	/*background-image: url(./pics/letter.jpg);*/
	background-color:#efb31d;
	width:80%;
	height:600px;
	position: relative;
	top: 25px;

}

#bountyContainer{
	float:right;
	width:50%;
	height:100px;
	background-color:#282b30;
	height:800px;
}

#bountyList{
	width:auto;
	margin:25px;
	padding:25px 0 0 50px;
	height:550px;
	background-color:#efb31d;
	overflow-y: scroll;

}

.bounty{
	width:90%;
	height:400px;
	margin:50px 10% 50px 0;
	background-color:#333333;
	float:left;
}

.bountyPic{
	width:150px;
	height:150px;
	background-image: url(./pics/icon.png);
	background-size:cover;
	background-color:blue;
	margin:auto;
	position:relative;
	top: 25px;
}

.bountyListContainer{
	position: relative;
	top:10px;
	margin:auto;
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(28,28,28,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(28,28,28,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(28,28,28,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#001c1c1c',GradientType=0 ); /* IE6-9 */
	width:80%;
	height:200px;
}
.bountyListContainer ul{
	list-style: none;
	color:white;
}

.bountyListContainer li{
	font-size:25px;

	text-align: center;
	margin:0 0 0 -40px;
}